<f1-circuit-map [circuit]="circuit"></f1-circuit-map>

<div class="overflow-x-auto">
  <div class="btn loading" *ngIf="loading" aria-busy="true"></div>
  <table class="table table-zebra w-full" aria-describedby="Circuit detail" *ngIf="circuit">
    <!-- head -->
    <thead>
      <tr>
        <th>Field</th>
        <th>Value</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Circuit Name</td><td><span>{{circuit.circuitName}}</span></td>
      </tr>
      <tr>
        <td>Country</td><td><span>{{circuit.Location.country}}</span></td>
      </tr>
      <tr>
        <td>Locality</td><td><span>{{circuit.Location.locality}}</span></td>
      </tr>
      <tr>
        <td>Wiki</td><td><a [href]="circuit.url">Wiki</a></td>
      </tr>
    </tbody>
  </table>
</div>
