<f1-season-map *ngIf="races" [races]="races"></f1-season-map>

<div class="relative overflow-x-auto">
  <div class="btn loading" *ngIf="loading" aria-busy="true"></div>
  <table
    class="table table-zebra table-auto"
    aria-describedby="season detail"
    *ngIf="races && races.length > 0"
  >
    <thead>
      <tr>
        <th>Round</th>
        <th>Date</th>
        <th>Race name</th>
        <th>Circuit</th>
        <th>Links</th>
        <th>Details</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let race of races">
        <td>
          <span>{{ race.round }}<span *ngIf="race.Sprint"> *</span></span>
        </td>
        <td>
          <span>{{
            race.date
              | dfnsParse : 'yyyy-MM-dd' : today : {}
              | dfnsFormat : 'hh-mm'
          }}</span>
        </td>
        <td>
          <span>{{ race.raceName }}</span
          ><span *ngIf="race.Sprint"> + sprint</span>
        </td>
        <td>
          <span>{{ race.Circuit.circuitName }}</span>
        </td>
        <td><a [href]="race.url">Wiki</a></td>
        <td>
          <a [routerLink]="['/circuits/', race.Circuit.circuitId]">Circuit</a
          >&nbsp;
          <a
            [routerLink]="['/races/', race.season, race.round]"
            *ngIf="
              race.date | dfnsParse : 'yyyy-MM-dd' : today : {} | dfnsIsPast
            "
            >Race</a
          >
          <a
            [routerLink]="['/races/', race.season, race.round]"
            *ngIf="
              race.date | dfnsParse : 'yyyy-MM-dd' : today : {} | dfnsIsFuture
            "
            >Preview</a
          >
        </td>
      </tr>
    </tbody>
  </table>
</div>
