<f1-season-map *ngIf="races" [races]="races"></f1-season-map>

<div class="overflow-x-auto">
  <div class="btn loading" *ngIf="loading" aria-busy="true"></div>
  <table class="table table-zebra w-full" aria-describedby="season detail">
    <!-- head -->
    <thead>
      <tr>
        <th>Round</th>
        <th>Date</th>
        <th>Race name</th>
        <th>Circuit</th>
        <th>Links</th>
        <th>Details</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let race of races">
        <td><span>{{race.round}}</span></td>
        <td><span>{{race.date}}</span></td>
        <td><span>{{race.raceName}}</span></td>
        <td><span>{{race.Circuit.circuitName}}</span></td>
        <td><a [href]="race.url">Wiki</a></td>
        <td><a [routerLink]="['/circuits/', race.Circuit.circuitId]">Track</a></td>
      </tr>
    </tbody>
  </table>
</div>
