<section class="prose w-full max-w-4xl flex-grow my-6 py-6">
  <div class="btn loading" *ngIf="loading" aria-busy="true"></div>

  <ng-container *ngIf="!loading">
    <f1-next-home></f1-next-home>

    <h2 class="heading-2">Calendar {{ currentSeason.season }}</h2>
    <f1-season-detail [seasonId]="currentSeason.season"></f1-season-detail>

    <h2 class="heading-2">Driver Standings {{ currentSeason.season }}</h2>
    <f1-season-driver-standings
      [seasonId]="currentSeason.season"
    ></f1-season-driver-standings>

    <h2 class="heading-2">Constructor Standings {{ currentSeason.season }}</h2>
    <f1-season-constructor-standings
      [seasonId]="currentSeason.season"
    ></f1-season-constructor-standings>
  </ng-container>
</section>
