<div class="overflow-x-auto">
  <div class="btn loading" *ngIf="loading" aria-busy="true"></div>
  <table class="table table-zebra w-full" aria-describedby="circuits table">
    <!-- head -->
    <thead>
      <tr>
        <th>Circuit</th>
        <th>Name</th>
        <th>Country</th>
        <th>Links</th>
        <th>Details</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let circuit of circuits">
        <td><span>{{circuit.circuitId}}</span></td>
        <td><span>{{circuit.circuitName}}</span></td>
        <td><span>{{circuit.Location.country}}</span></td>
        <td><a [href]="circuit.url">Wiki</a></td>
        <td><a [routerLink]="['/circuits/', circuit.circuitId]">Details</a></td>
      </tr>
    </tbody>
  </table>
</div>
