<div class="btn loading" *ngIf="loading" aria-busy="true"></div>
<div class="table-sticky-background sticky top-14 z-10" aria-hidden="true">&nbsp;</div>
<table class="table table-zebra w-full my-0" aria-describedby="seasons list" *ngIf="seasons && seasons.length > 0">
  <thead>
    <tr class="align-text-top">
      <th class="sticky top-20 z-20 rounded-tl-lg">
        <label class="label">Season</label>
        <br/>
        <input
          type="text"
          class="input input-bordered w-full max-w-xs"
          [(ngModel)]="seasonFilter"
          (ngModelChange)="applyFilters()"></th>
      <th class="sticky top-20 z-20">Links</th>
      <th class="sticky top-20 z-20 rounded-tr-lg">Details</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let season of filteredSeasons">
      <td><span>{{season.season}}</span></td>
      <td><a [href]="season.url">Wiki</a></td>
      <td><a [routerLink]="['/seasons', season.season]">Details</a></td>
    </tr>
  </tbody>
</table>
