<div class="overflow-x-auto">
  <div class="btn loading" *ngIf="loading" aria-busy="true"></div>
  <table class="table table-zebra w-full" aria-describedby="seasons list" *ngIf="seasons && seasons.length > 0">
    <!-- head -->
    <thead>
      <tr>
        <th>Season</th>
        <th>Links</th>
        <th>Details</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let season of seasons">
        <td><span>{{season.season}}</span></td>
        <td><a [href]="season.url">Wiki</a></td>
        <td><a [routerLink]="['/seasons', season.season]">Details</a></td>
      </tr>
    </tbody>
  </table>
</div>
