.outer {
  border-top: rgb(220, 38, 38) 10px solid;
  border-left: rgb(220, 38, 38) 10px solid;
  border-top-left-radius: 45px;
  padding: 10px 0 0 10px;
}
.inner {
  border-top: rgb(220, 38, 38) 10px solid;
  border-left: rgb(220, 38, 38) 10px solid;
  border-top-left-radius: 25px;
  padding: 10px 0 0 10px;
}
