<div class="overflow-x-auto">
  <div class="btn loading" *ngIf="loading" aria-busy="true"></div>
  <table class="table table-zebra w-full" aria-describedby="season detail" *ngIf="driverStandings && driverStandings.length > 0">
    <thead>
      <tr>
        <th>Position</th>
        <th>Points</th>
        <th>Wins</th>
        <th>Driver name</th>
        <th>Constructor</th>
        <th>Details</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let driverStanding of driverStandings">
        <td><span>{{driverStanding.position}}</span></td>
        <td><span>{{driverStanding.points}}</span></td>
        <td><span>{{driverStanding.wins}}</span></td>
        <td><span>{{driverStanding.Driver.givenName + ' ' + driverStanding.Driver.familyName}}</span></td>
        <td><span *ngIf="driverStanding.Constructors.length > 0">{{driverStanding.Constructors[0].name}}</span></td>
        <td><a [routerLink]="['/drivers', driverStanding.Driver.driverId]">Driver</a></td>
      </tr>
    </tbody>
  </table>
</div>
